body{
  background: #620AC4;
  
  }
  
 ul {
  list-style-type: none;
  position:fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

  #welcome-section{display:inline-block;
  text-align:center;
  color:white;
  position:relative;
  width:100%;
  margin-left: auto;
  margin-right:auto;
  top:20vh;
  height:100vh;
  font-size:3vw;
  font-family:Georgia,Helvetica;
  
 
}
  
  #projects-section{
      background-color:#19C3E3;
      border-radius: 40%;
      width: 85%;
      margin:0 auto;
      display: grid;
      grid-template-areas: "a"
                              "b "
                          "c";
      justify-items:center;
                          }
  .project-section-header{
      grid-area: a;
      font-size:3vw;
      font-family:'Major Mono Display'; 
      padding:10px; 
  }
  .individual-project-container{
      padding-bottom:20px;
      
  }
  
  .project-title{
      font-family:'Roboto Mono';
      text-align:center;
      font-size:1.5vw;
      padding-top:10px;            
  }
  .project-link{
      text-decoration: none;
      color:black;
      font-size:1.5vw;
  }
  .project-picture{
      
      width:40%;
      display:block;
      margin-left:auto;
      margin-right: auto;
  }
  #project-1{
      grid-area:b ;
      
  }
  #virus-image{
      background-color:white;
      border-radius: 40%;
      
  }
  #octocat{
      border-radius:50%;
      width:4vw;
      display:block;
      margin-left:auto;
      margin-right:auto;
      margin-top:20vh;
      margin-bottom: 5px;
      
  }
  .profile-text{
      font-family: "Major Mono Display";
  
  }
  #profile{
      
      width:100%;
      font-size:0.8vw;
      text-align: center;
    }